In [1]:
import pandas as pd

# Load the data
data = pd.read_csv('/Users/won-yooseung/Desktop/16_KRX_주식_투자_알고리즘_경진대회/train_new.csv')
data.head()

         일자     종목코드     종목명     거래량     시가     고가     저가     종가
0  20210601  A060310      3S  166690   2890   2970   2885   2920
1  20210601  A095570  AJ네트웍스   63836   5860   5940   5750   5780
2  20210601  A006840   AK홀딩스  103691  35500  35600  34150  34400
3  20210601  A054620     APS  462544  14600  14950  13800  14950
4  20210601  A265520   AP시스템  131987  29150  29150  28800  29050

In [2]:
# Convert the '일자' column to datetime format
data['일자'] = pd.to_datetime(data['일자'], format='%Y%m%d')

data.head()

          일자     종목코드     종목명     거래량     시가     고가     저가     종가
0 2021-06-01  A060310      3S  166690   2890   2970   2885   2920
1 2021-06-01  A095570  AJ네트웍스   63836   5860   5940   5750   5780
2 2021-06-01  A006840   AK홀딩스  103691  35500  35600  34150  34400
3 2021-06-01  A054620     APS  462544  14600  14950  13800  14950
4 2021-06-01  A265520   AP시스템  131987  29150  29150  28800  29050

In [3]:
# Sort the data by '종목코드' and '일자'
data = data.sort_values(['종목코드', '일자'])

# Calculate the return for each stock over the next 15 trading days
data['수익률'] = data.groupby('종목코드')['종가'].pct_change(periods=-15)

data.head(20)

              일자     종목코드   종목명      거래량     시가     고가     저가     종가       수익률
502   2021-06-01  A000020  동화약품   114966  14700  14700  14450  14600  0.010381
2502  2021-06-02  A000020  동화약품   109559  14700  14700  14450  14500 -0.003436
4502  2021-06-03  A000020  동화약품    96158  14550  14650  14450  14600 -0.051948
6502  2021-06-04  A000020  동화약품   133900  14600  14800  14550  14700 -0.045455
8502  2021-06-07  A000020  동화약품   511140  14800  15550  14750  15150 -0.038095
10502 2021-06-08  A000020  동화약품   272839  15350  15500  15000  15050 -0.038339
12502 2021-06-09  A000020  동화약품   168044  15000  15100  14700  14700 -0.060703
14502 2021-06-10  A000020  동화약품   176342  14600  15100  14600  15100 -0.044304
16502 2021-06-11  A000020  동화약품   146819  15150  15200  14750  14900 -0.053968
18502 2021-06-14  A000020  동화약품   107560  14900  14950  14650  14650 -0.084375
20502 2021-06-15  A000020  동화약품   142514  14800  14800  14550  14600 -0.070064
22502 2021-06-16  A000020  동화약품   202631  14600  14650  14500  14550 -0.096273
24502 2021-06-17  A000020  동화약품   123852  14600  14600  14400  14450 -0.058632
26502 2021-06-18  A000020  동화약품   116161  14500  14550  14350  14450 -0.033445
28502 2021-06-21  A000020  동화약품   123450  14400  14600  14350  14500 -0.036545
30502 2021-06-22  A000020  동화약품    99679  14500  14550  14400  14450 -0.026936
32502 2021-06-23  A000020  동화약품   186682  14450  14700  14400  14550 -0.013559
34502 2021-06-24  A000020  동화약품  1999686  14700  16150  14700  15400  0.037037
36502 2021-06-25  A000020  동화약품   378323  15550  15600  15200  15400  0.040541
38502 2021-06-28  A000020  동화약품   404835  15600  15800  15400  15750  0.043046

In [4]:
# Rank the returns for each day
data['수익률 순위'] = data.groupby('일자')['수익률'].rank(ascending=False)

data.head(20)

,일자,종목코드,종목명,거래량,시가,고가,저가,종가,수익률,수익률 순위
502,2021-06-01,A000020,동화약품,114966,14700,14700,14450,14600,0.010381,741.0
2502,2021-06-02,A000020,동화약품,109559,14700,14700,14450,14500,-0.003436,1026.0
4502,2021-06-03,A000020,동화약품,96158,14550,14650,14450,14600,-0.051948,1557.0
6502,2021-06-04,A000020,동화약품,133900,14600,14800,14550,14700,-0.045455,1510.0
8502,2021-06-07,A000020,동화약품,511140,14800,15550,14750,15150,-0.038095,1386.0
10502,2021-06-08,A000020,동화약품,272839,15350,15500,15000,15050,-0.038339,1381.0
12502,2021-06-09,A000020,동화약품,168044,15000,15100,14700,14700,-0.060703,1481.0
14502,2021-06-10,A000020,동화약품,176342,14600,15100,14600,15100,-0.044304,1330.0
16502,2021-06-11,A000020,동화약품,146819,15150,15200,14750,14900,-0.053968,1463.0
18502,2021-06-14,A000020,동화약품,107560,14900,14950,14650,14650,-0.084375,1635.0
20502,2021-06-15,A000020,동화약품,142514,14800,14800,14550,14600,-0.070064,1557.0
22502,2021-06-16,A000020,동화약품,202631,14600,14650,14500,14550,-0.096273,1706.0
24502,2021-06-17,A000020,동화약품,123852,14600,14600,14400,14450,-0.058632,1604.0
26502,2021-06-18,A000020,동화약품,116161,14500,14550,14350,14450,-0.033445,1554.0
28502,2021-06-21,A000020,동화약품,123450,14400,14600,14350,14500,-0.036545,1460.0
30502,2021-06-22,A000020,동화약품,99679,14500,14550,14400,14450,-0.026936,1363.0
32502,2021-06-23,A000020,동화약품,186682,14450,14700,14400,14550,-0.013559,1209.0
34502,2021-06-24,A000020,동화약품,1999686,14700,16150,14700,15400,0.037037,419.5
36502,2021-06-25,A000020,동화약품,378323,15550,15600,15200,15400,0.040541,453.0
38502,2021-06-28,A000020,동화약품,404835,15600,15800,15400,15750,0.043046,602.0

In [5]:
# Calculate the average rank for each stock
average_rank = data.groupby('종목코드')['수익률 순위'].mean().reset_index()
average_rank.columns = ['종목코드', '평균 순위']
average_rank.head()

      종목코드        평균 순위
0  A000020   991.041267
1  A000040   866.901152
2  A000050  1014.086372
3  A000070  1000.172745
4  A000080   937.771593

In [6]:
# Calculate the average return for each stock
average_return = data.groupby('종목코드')['수익률'].mean().reset_index()
average_return.columns = ['종목코드', '평균 수익률']

# Rank the average returns
average_return['수익률 순위'] = average_return['평균 수익률'].rank(ascending=False)

average_return.head()

      종목코드    평균 수익률  수익률 순위
0  A000020  0.015260  1086.0
1  A000040  0.029959   399.0
2  A000050  0.014428  1145.0
3  A000070  0.014876  1113.0
4  A000080  0.021278   723.0

In [8]:
# Merge the two dataframes
merged = pd.merge(average_rank, average_return, on='종목코드')

# Calculate the final rank
merged['최종 순위'] = merged[['평균 순위', '수익률 순위']].mean(axis=1)

merged.head()

      종목코드        평균 순위    평균 수익률  수익률 순위        최종 순위
0  A000020   991.041267  0.015260  1086.0  1038.520633
1  A000040   866.901152  0.029959   399.0   632.950576
2  A000050  1014.086372  0.014428  1145.0  1079.543186
3  A000070  1000.172745  0.014876  1113.0  1056.586372
4  A000080   937.771593  0.021278   723.0   830.385797

In [9]:
# Sort the dataframe by the final rank
sorted_df = merged.sort_values('최종 순위')

# Reset the index to get the final rank from 1 to 2000
sorted_df = sorted_df.reset_index(drop=True)
sorted_df['최종 순위'] = sorted_df.index + 1

sorted_df.head()

      종목코드       평균 순위    평균 수익률  수익률 순위  최종 순위
0  A299660  545.556622  0.097232    36.0      1
1  A183490  656.156430  0.219010    12.0      2
2  A013720  692.065259  0.256271    10.0      3
3  A095700  667.677543  0.071021    64.0      4
4  A151910  695.827255  0.088263    43.0      5

In [ ]:
# Save the dataframe to a csv file
final_df = sorted_df[['종목코드', '최종 순위']]
final_df.to_csv('/Users/won-yooseung/Desktop/16_KRX_주식_투자_알고리즘_경진대회/final_rank_new.csv', index=False)